body {
    height: 100vh;
    width: 100vw;
}

.main-title {
    color: #808080;
}

#login-screen {
    z-index: 2;
}

#submit-report-screen {
    z-index: 1;
}

#btn-back {
    position: absolute;
    top: 2vh;
    left: 2vw;
    cursor: pointer;
}

.full-screen {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: white;
    transition: all 2s ease-in-out;
    -webkit-transition: all 2s ease-in-out;
    /** Chrome & Safari **/
    -moz-transition: all 2s ease-in-out;
    /** Firefox **/
    -o-transition: all 2s ease-in-out;
    /** Opera **/
}

.visible {
    display: block;
}

.hidden {
    display: none;
}

.move-up {
    transform: translate(0, -100%);
}

.move-down {
    transform: translate(0, 0);
}